$white: #F8F8FB;

$primary: #007830;
$secondary: #06af52;
$accent: #9cae0f;

$header-font: 'Josefin Sans', sans-serif;   // font-weights: [ 100, 200, 300, 400, 500, 600, 700 ]
$body-font: 'Lato', sans-serif;             // font-weights: [ 300, 400, 700, 900 ]
